
<nav class="navbar navbar-expand-lg navbar-light bg-light ml-auto">
    <div class="container">
        <a class="navbar-brand" href="#">Hoc lap trinh</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home/{{userId}}">Home <span class="sr-only">(current)</span></a>
            </li>
        </div>

        <div class="dropdown show">
            <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Action
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Tai khoan</a>
            </div>
        </div>
    </div>
</nav>

<div class="mt-4 container">
    <table class="table mt-4">
      <div>
          <h3>Khoa hoc da xoa</h3>
          <a href="/courses/myCourses/{{userId}}" >Danh sach khoa hoc</a>
      </div>

      <thead>
          <tr>
                <th scope="col">#</th>
                <th scope="col">Course name</th>
                <th scope="col">Created at</th>
                <th scope="col">Updated at</th>
                <th scope="col"></th>
                <th scope="col"></th>
          </tr>
      </thead>
      <tbody>
            {{#each courses}}
          <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{getTimestamp this.deletedAt}}</td>
                <td>
                  <a href="#" class="btn-restore" data-id="{{this._id}}">Khoi phuc</a>
                  <br />
                  <a href = "#" data-toggle="modal" data-id="{{this._id}}" data-target="#modal"> Xoa vinh vien</a>
                </td>
          </tr>
            {{else}}
              <td colspan="5" class ="text-center">
                Chua co khoa hoc nao.
                <a href="/courses/myCourses/{{userId}}">Quay lai danh sach khoa hoc</a>
              </td>
            {{/each}}
      </tbody>
    </table>
</div>


{{!-- comfirm delete course --}}

<div id="modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>Ban chac chan muon xoa khoa hoc? Ban se khong the khoi phuc khoa hoc nua.
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        </p>
      </div>
      <div class="modal-footer">
          <button id="btn-delete" type="button" class="btn btn-danger btn-delete">
              Co
          </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Khong</button>
      </div>
    </div>
  </div>
</div>

<form name="deleteForm" method="post" ></form>
<form name="restoreForm" method="post" ></form>

<script>
      document.addEventListener("DOMContentLoaded", function(){
          var restoreForm = document.forms['restoreForm'];
          var restoreBtn = $('.btn-restore'); 
          var deleteBtn = $('.btn-delete');
          console.log(deleteBtn);
          var id;
          
          $('#modal').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget) ;
              id = button.data('id');
          })

          deleteBtn.click(function (e){
              e.preventDefault();
              restoreForm.action = "http://localhost:3000/courses/delete/" + id +"/force?_method=DELETE";
              restoreForm.submit();
          })

          restoreBtn.click(function (e){
              e.preventDefault();
              var courseId = $(this).data('id');
              restoreForm.action = "http://localhost:3000/courses/" + courseId +"/restore?_method=PATCH";
              restoreForm.submit();
          })

      })
</script>
