<nav class="navbar navbar-expand-lg navbar-light bg-light ml-auto">
    <div class="container">
        <a class="navbar-brand" href="#">Hoc lap trinh</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
        </div>

        <div class="dropdown show">
            <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Action
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Tài khoản</a>
                <a class="dropdown-item" href="/account/logout">Đăng xuất</a>
            </div>
        </div>
    </div>
</nav>

<div class="container account mt-4">
    <div class="content-update container">
        <div class="content-header mt-4">
            <h4 style="text-align:center">Thông tin của bạn</h4>
        </div>
        <div class="content-body-update mt-4">
            <form class="form-update" action = "/account/uploadData" method="post" enctype="multipart/form-data">
                <div class="field-update">
                    {{#if avatar}}
                        <img src= "{{avatar}}" class="rounded-circle avatar"  alt="avatar">
                        {{else}}
                            <img src= "data:image/jpeg;base64,{{avatar_base64}}" class="rounded-circle avatar" alt="avatar">
                    {{/if}}
                    
                    <input type="file" accept=".jpg, .png" name ="avatar" class="file-upload img-file">
                </div>
                <div class="field-update mt-4">
                    <label for="username"><strong>User name</strong></label>
                    <input type="text" value="{{user.username}}" id= "username" name="username" class="input-update">
                </div>
                <div class="field-update mt-4">
                    <label for="gender"><strong>Gender</strong></label>
                    <select name="gender" value="{{user.gender}}">
                        <option> Giới tính </option>
                        <option  value="nam">Nam</option>
                        <option  value="nữ">Nữ</option>
                    </select>
                </div>
                <div class="field-update mt-4">
                    <label for="dateOfBirth"><strong>Date of birth</strong></label>
                    <input type="date" value ="{{user.dateOfBirth}}" name="dateOfBirth" id = "dateOfBirth" class="input-update">
                </div>
                <div class="field-update mt-4">
                    <label for="address"><strong>Address</strong></label>
                    <input type="text" value ="{{user.address}}" name="address" id = "address" class="input-update">
                </div>
                <div class="field-update mt-4">
                    <label for="email"><strong>Email</strong></label>
                    <input type="text" value="{{user.email}}" name="email" id = "email" class="input-update">
                </div>
                <button type="submit" id = "btn-submit" class="btn btn-primary mt-4">Lưu thay đổi</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function(e) {
        var form = document.querySelector('.form-update');
        var anh = document.querySelector('.avatar');
        const btnSubmit = document.querySelector('#btn-submit');
        const reader = new FileReader();
        const fileUpload = document.querySelector(".file-upload");
        var imgUrl = '';

        // xử lý khi chọn avatar => chọn xog thay đổi luôn avatar
        fileUpload.addEventListener("change", (event) => {
            const files  = event.target.files;
            reader.readAsDataURL(files[0]);
            reader.addEventListener("load", (event) => {
                const binary = event.target.result;
                var img = binary.slice(binary.lastIndexOf(',')+1);
                
                // hàm tạo url cho thuộc tính src của ảnh
                const b64toBlob = (img, contentType='', sliceSize=512) => {
                    const byteCharacters = atob(img);   // giải mã chuỗi mã hóa base64
                    const byteArrays = [];

                    for (let offset = 0; offset < byteCharacters.length; offset += sliceSize) {
                        const slice = byteCharacters.slice(offset, offset + sliceSize);

                        const byteNumbers = new Array(slice.length);
                        for (let i = 0; i < slice.length; i++) {
                            byteNumbers[i] = slice.charCodeAt(i); // lấy mã Unicode 
                        }

                        const byteArray = new Uint8Array(byteNumbers); // tạo mảng kiểu 8bit
                        byteArrays.push(byteArray);
                    }

                    const blob = new Blob(byteArrays, {type: contentType});
                    return blob;
                }
                const blob = b64toBlob(img, 'image/jpeg');
                const blobUrl = URL.createObjectURL(blob);  // tạo url mới 
                anh.src = blobUrl;
                
            })
        })

    })
</script>
